table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10%;
    border: 7px double rgb(101, 153, 11);
}

td,
th {
    border: 3px solid #070000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f4658b;
}

#checkoutTotal{
    background-color: aqua;
}